.calendar-page-container {
  width: 100%;
  padding: 1rem;
  background-color: white;

  .calendar-list {
    display: flex;
    justify-content: space-between;

    .waiting-room,
    .next-appointments {
      width: 48%;
      min-height: 15rem;
      margin: 1rem 0;
      border: 1px solid #ddd;
      border-radius: 2px;
      padding: 0.5rem 1rem;
    }
  }
}
